<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'all.css' %}">
</head>
<body>
<div align="center">
<div align="right">
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button type="submit">Home</button>
    </form>
</div>
<h2>First Name:{{emp.first_name}}</h2>
<h2>Last Name:{{emp.last_name}}</h2>
<h2>Age Name:{{emp.age}}</h2>
<h2>Department Name:{{emp.dept}}</h2>
    </div>
</body>
</html>

